<div class="index-title"><h1>Available friends</h1></div>

<div class="container">
  <div class="d-flex justify-content-between row">
    <% @friends.each do |friend| %>
      <%#= link_to friend_path(friend) do %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">friend name to implement</h5>
            <h5 class="card-title"><%=friend.description%></h5>
            <p class="card-text"><%=friend.location%></p>
            <p class="card-text"><%=friend.price%></p>

            <a><%= link_to "Delete", friend_path(friend), class: "btn btn-danger",
              method: :delete,
              data: { confirm: "Are you sure?" } %>
            </a>
            <a>
              <% if policy(friend).edit? %>
                <%= link_to "Update", edit_friend_path(friend), class: "btn btn-warning" %>
              <% end %>
            </a>
            <%= link_to "Friend", friend_path(friend), class: "btn btn-primary" %>
          </div>
        </div>
      <%# end %>
    <% end %>
  </div>
</div>




<%# <ul>
<% @friends.each do |friend| %>
<%# <li><%= link_to friend.description, friend_path(friend) -- <%= link_to "Delete", friend_path(friend), %>
                                                  <%# # method: :delete, %>
                                                  <%# # data: { confirm: "Are you sure?" } </li> %>
<%# </ul>  %>

  <%# WILL HAVE TO CHNAGE FRIEND.DECRIPTION INTO FRIENDS.NAME %>



  <% if policy(Friend).create? %>
    <%= link_to "New friend", new_friend_path %>
  <% end %>
