<div class="index-title"><h1>Friends around you</h1></div>

<div class="container">
  <div class="d-flex justify-content-between row">
    <% @friends.each do |friend| %>
        <div class="card" style="width: 18rem;">
        <%= link_to friend_path(friend) do %>
          <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Card image cap">
       <% end %>
          <div class="card-body">
            <p class="card-text"><%=friend.name%></p>
            <p class="card-text"><%=friend.age%></p>
            <p class="card-text"><%=friend.location%></p>

            <a><%= link_to "Delete", friend_path(friend), class: "btn btn-ghost",
              method: :delete,
              data: { confirm: "Are you sure?" } %>
            </a>
          </div>
        </div>
     <%end%>
  </div>
</div>
