
<div class= "container">
  <%= simple_form_for [ @friend ] do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :price %>

    <%= f.submit "Submit ", class: "btn btn-primary" %>

  <% end %>
</div>
