
<div class="container">
  <div class="card-category">
    <img class= "friend-image" src="https://picsum.photos/600/600"/>
      <div class="friend_details">
        <h2><strong><%= @friend.name %>, <%= @friend.age %></strong></h2>
        <h5><strong>Location: </strong><%= @friend.location %></h5>
        <p><strong>About: </strong><%= @friend.personal_description %></p>

        <div>
          <p><strong>Upcoming meet ups with <%= @friend.name %>:</strong></p>
          <ul class="list-group">
            <% @friend.incoming_reservations.each do |reservation| %>
              <li class="list-group-item"><strong>Loc: </strong><%= reservation.location%> - <%= reservation.comment%>
              <br><strong>Start: </strong><%= reservation.start_date%>
              <br><strong>End: </strong><%= reservation.end_date %></li>
              <br>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
            <div class="button-container">
                <div>
                  <%= link_to "Meet up!", new_friend_reservation_path(@friend), class: "btn btn-ghost" %>
                </div>
                <div>
                  <%= link_to "Leave a review", new_friend_review_path(@friend), class: "btn btn-ghost"%>
                </div>
                <div>
                  <%= link_to "Find Another Friend", friends_path(@friend), class: "btn btn-ghost"%>
                </div>
              </div>
                <div class="friend_reviews">
                  <ul class="list-group list-group-flush">
                    <% @friend.reviews.each do |review| %>
                      <li class="list-group-item">
                        <%= review.comment %>
                        <%= review.rating %>
                      </li>
                    <% end %>
                </div>
              </div>
      </div>
</div>
