<h2><%= @friend.description %></h2>
<p><%= @friend.location %></p>
<p><%= @friend.price %></p>

<%= link_to "Homepage", friends_path(@friend)%>
<%= link_to "Edit", edit_friend_path(@friend)%>
<%= link_to "Leave a review", new_friend_review_path(@friend) %>
<%= link_to "update a review", edit_friend_review_path(@friend) %>
