<h2><%= @friend.description %></h2>
<p><%= @friend.location %></p>
<p><%= @friend.price %></p>


<%= link_to "Homepage", friends_path(@friend)%>
<%= link_to "Edit", edit_friend_path(@friend)%>
<%= link_to "Leave a review", new_friend_review_path(@friend) %>
<%= link_to "Update a review", edit_friend_review_path(@friend) %>




<% @friends.each do |friend| %>
  <% if policy(friend).edit? %>
    <%= link_to "Update", edit_friend_path(friend) %>
  <% end %>
<% end %>
