<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVgKKtbJ6TvVD2MxSE7n3iJsWF9gXJDXZWUQ&usqp=CAU" /> Rent-a-Friend
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %></li>
          <li><%= link_to "Add friend", new_friend_path, class:"btn btn-outline-primary"%></li>
          <li><%= link_to "My profile", new_friend_path, class:"btn btn-outline-primary"%></li>
        <%else %>
          <li><%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary" %></li>
          <li><%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary" %></li>
          <li><%= link_to "Friends Available", friends_path, class:"btn btn-outline-primary"%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<%# testing navbar %>

          <%# <li class="nav-item active"> %>
            <%# <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary" %>
          <%# </li> %>
          <%# <li class="nav-item"> %>
             <%# <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary" %>
          <%# </li> %>
          <%# <li class="nav-item dropdown"> %>
            <%# <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" /> %>
            <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> %>
              <%# <a class="dropdown-item" href="#">Profile</a> %>
              <%# <a class="dropdown-item" href="#">Dashboard</a> %>
              <%# <a class="dropdown-item" href="#">Friends</a> %>
              <%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%# </div> %>
          <%# </li> %>
